@import "/src/global-style/index.scss";

.section {
    background: var(--color-just-black);
  width: 100%;
  padding: 55px 20px;
  display: flex;

  .container {
    .hero_box {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        @include mobile {
            flex-direction: column;
        }
        .title {
            color: var(--color-surface-white);
            font-size: max(2.125rem, min(2vw + 2rem, 18rem));
            font-weight: 600;
            line-height: 1.5;
        }
        .title_box p{
          color: var(--color-surface-white);
          font-size: 16px;
          font-weight: 400;
          line-height: 1.5;
          max-width: 50rem;
          @include mobile {
            width: 100%;
            // max-width: none;
          }
      }

      .tools {
       margin-top: 100px;
      }
    }
  }

}
